<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>

		<h1>1. todas las ligas de béisbol</h1>
		<ol>
			{% for league in ligas_baseball %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>2. todas las ligas de mujeres</h1>
		<ol>
			{% for league in ligas_mujeres %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>3. todas las ligas donde el deporte es cualquier tipo de hockey</h1>
		<ol>
			{% for league in ligas_hockey %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>	
		<h1>4. todas las ligas donde el deporte no sea football</h1>
		<ol>
			{% for league in ligas_no_football %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>5. todas las ligas que se llaman "conferencias"</h1>
		<ol>
			{% for league in conferencias %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>6. todas las ligas de la región atlántica</h1>
		<ol>
			{% for league in atlantica %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>7. todos los equipos con sede en Dallas</h1>
		<ol>
			{% for team in teams_dallas %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>8. todos los equipos nombraron los Raptors</h1>
		<ol>
			{% for team in teams_raptors %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>9. todos los equipos cuya ubicación incluye "Ciudad"</h1>
		<ol>
			{% for team in teams_city %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>10. todos los equipos cuyos nombres comienzan con "T"</h1>
		<ol>
			{% for team in teams_t %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>11. todos los equipos, ordenados alfabéticamente por ubicación</h1>
		<ol>
			{% for team in teams_ordenlocation %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>12. todos los equipos, ordenados por nombre de equipo en orden alfabético inverso</h1>
		<ol>
			{% for team in teams_ordeninverso %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>13. cada jugador con apellido "Cooper"</h1>
		<ol>
			{% for player in players_cooper %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>14. cada jugador con nombre "Joshua"</h1>
		<ol>
			{% for player in players_joshua %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>15. todos los jugadores con el apellido "Cooper" EXCEPTO aquellos con "Joshua" como primer nombre</h1>
		<ol>
			{% for player in players_cooper_excepto_joshua %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>16. todos los jugadores con nombre "Alexander" O nombre "Wyatt"</h1>
		<ol>
			{% for player in players_Alexander_or_Wyatt %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>









		<h1>1. todos los equipos en la Atlantic Soccer Conference</h1>
		<ol>
			{% for team in teams_atlantic %}
				<li>{{team.location}} {{team.team_name}} ({{team.league.name}})</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>2. todos los jugadores (actuales) en los Boston Penguins</h1>
		<ol>
			{% for player in players_bostons %}
				<li>{{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>3. todos los jugadores (actuales) en la International Collegiate Baseball Conference</h1>	
		<ol>
			{% for player in players_international %}
				<li>{{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>4. todos los jugadores (actuales) en la Conferencia Americana de Fútbol Amateur con el apellido "López"</h1>
				<ol>
			{% for player in players_conferencia_lopez %}
				<li>{{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>5. todos los jugadores de fútbol</h1>		
		<ol>
			{% for player in players_futbol %}
				<li>{{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>6. todos los equipos con un jugador (actual) llamado "Sophia"</h1>
		<ol>
			{% for team in teams_sophia %}
				<li>{{team.location}} {{team.team_name}}  </li>				  
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>7. todas las ligas con un jugador (actual) llamado "Sophia"</h1>
		<ol>
			{% for league in leagues_sophia %}
				<li> {{league.name}}</li>
			{% empty %}
				<p>No leagues found.</p>
			{% endfor %}
		</ol>
		<h1>8. todos con el apellido "Flores" que NO (actualmente) juegan para los Washington Roughriders</h1>			
		<ol>
			{% for player in players_flores_no %}
				<li> {{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}})</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>9. todos los equipos, pasados y presentes, con los que Samuel Evans ha jugado</h1>
		<ol>
			{% for team in teams_samuel %}
				<li> {{team.location}} {{team.team_name}} </li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>
		<h1>10. todos los jugadores, pasados y presentes, con los gatos tigre de Manitoba</h1>	
		<ol>
			{% for player in players_gatos %}
				<li> {{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league.name}}) </li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>
		<h1>11. todos los jugadores que anteriormente estaban (pero que no lo están) con los Wichita Vikings</h1>
		<ol>
			{% for player in players_wichita_old %}
				<li> {{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league_name}}) </li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>

		<h1>12. cada equipo para el que Jacob Gray jugó antes de unirse a los Oregon Colts</h1>		
		<ol>
			{% for team in team_gray %}
				<li> {{team.location}} {{team.team_name}}  </li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h1>13. todos llamados "Joshua" que alguna vez han jugado en la Federación Atlántica de Jugadores de Béisbol Amateur</h1>
		<ol>
			{% for player in players_joshua_no %}
				<li> {{player.first_name}} {{player.last_name}} ({{player.curr_team.location}} {{player.curr_team.team_name}} // {{player.curr_team.league_name}})</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>

		<h1>14. todos los equipos que han tenido 12 o más jugadores, pasados y presentes. (SUGERENCIA: busque la función de anotación de Django).</h1>
		<ol>
			{% for team in teams_12 %}
				<li> {{team.location}} {{team.team_name}} ({{team.numero_jugadores}})</li>
			{% empty %}
				<p>No teams found.</p>
			{% endfor %}
		</ol>

		<h1>15. todos los jugadores y el número de equipos para los que jugó, ordenados por la cantidad de equipos para los que han jugado</h1>
		<ol>
			{% for player in players_all %}
				<li> {{player.first_name}} {{player.last_name}} ( {{player.numero_teams}})</li>
			{% empty %}
				<p>No players found.</p>
			{% endfor %}
		</ol>






















